<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working!</title>
</head>
<body>
    <h1>Home</h1> <a href="https://opulent-garbanzo-pjr94p64xp6j27v69-8000.app.github.dev/newlineremove">Remove NewLine</a><br></br> <a href="https://opulent-garbanzo-pjr94p64xp6j27v69-8000.app.github.dev/removepunc">Remove Punctuation</a><br></br> <a href="https://opulent-garbanzo-pjr94p64xp6j27v69-8000.app.github.dev/capitalizeFirst">Capitalize First</a><br></br><a href="https://opulent-garbanzo-pjr94p64xp6j27v69-8000.app.github.dev/spaceremove">Remove Space</a><br></br><a href="https://opulent-garbanzo-pjr94p64xp6j27v69-8000.app.github.dev/charcount">Count Characters</a><br></br>
    
</body>
</html>